/* common shared styles */
html {
  margin: 0;
}
p {
  color: #727272;
  line-height: 26px;
}
button {
  width: 180px;
  height: 64px;
  border-radius: 8px;
  background: #ff900e;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.15rem;
  font-weight: 600;
}
* {
  font-family: "Work Sans", sans-serif;
}
/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 0 240px 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
}
nav li {
  list-style-type: none;
  margin-right: 75px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: #424242;
}
/* banner styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto 50px;
}
.banner-content button {
  margin-top: 30px;
}
.banner-content h1 {
  font-size: 4rem;
  color: #131313;
}

.banner-image {
  text-align: center;
  width: auto;
}
.banner-image img {
  width: 90%;
}
/* main section styles */
main {
  max-width: 1440px;
  margin: 0 auto;
}
/* team section styles */
.teams-container {
  display: flex;
  align-items: center;
  margin-top: 5.3rem;
}

.teams-image-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.teams-content {
  padding: 4.4rem;
}
.teams-content h3 {
  width: 33.5rem;
  font-size: 2.8rem;
}
.teams-content p {
  width: 29.25rem;
}
.type-1 {
  color: #727272;
  font-weight: 500;
}
.type-2 {
  color: #131313;
  font-weight: 700;
}
.type-3 {
  color: #ff900e;
}

/* responsive styles */
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 10px;
  }
  nav {
    flex-direction: column;
  }
  nav li {
    margin-right: 30px;
  }
  .banner-content h1 {
    font-size: 2rem;
  }
  .banner-image img {
    width: 90vw;
    margin: 0 auto;
  }
}

/* tablets or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav {
    flex-direction: column;
  }
  header {
    padding: 10px;
  }
}
